.midcontainer {
    height:500px;
    width:100%;
    background-image:linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(96,246,208,0.5) 71%, rgba(255,255,255,1) 95%), url('./skittles.jpg');
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}